@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

@font-face {
    font-family: 'Karina';
    src: url('fonts/Karina.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* ----------------------------------------------------------- */
/* html base */
/* ----------------------------------------------------------- */

body {
    background-color: #1e1e20;
    color: #9e9eb3;
    font-family: "Poppins", sans-serif;
    text-align: center;
}

h1,
h2 {
    font-family: "Karina", sans-serif;
    color: #e1e1e9;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 35px;
}

ul li a {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.justify {
    justify-content: center;
    text-align: justify;
}

/* ----------------------------------------------------------- */
/* Layout */
/* ----------------------------------------------------------- */

/* Navigation bar */
header {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.navbar {
    position: relative;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    border-radius: 50px;
}

.navbar li {
    position: relative;
    z-index: 2;
    padding: 10px 20px;
    cursor: pointer;
}

#marker {
    position: absolute;
    height: 100%;
    top: 0;
    background-color: white;
    opacity: 0.1;
    border-radius: 50px;
    z-index: 1;
    transition: transform 0.4s ease-in-out, width 0.4s ease-in-out;
}

/* Main container */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1000px;
    margin: auto;
    gap: 20px;
}

.container>.block:last-child:nth-child(odd) {
    width: 100%;
}

.block {
    width: calc(50% - 10px);
    padding: 5px;
    box-sizing: border-box;
    transition: width 0.5s ease, margin 0.3s ease;
}

.profile-picture {
    max-width: 50%;
    height: auto;
    border-radius: 50%;
}

/* Game Gallery */
.item {
    width: 400px;
    height: auto;
    background-color: #222224;
    border: 2px solid #888891;
    border-radius: 25px;
    box-sizing: border-box;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);

    justify-content: center;
    padding: 30px;

    font-size: 14px;
    transition: transform 0.4s ease-in-out, width 0.4s ease-in-out;
}

.cover {
    max-width: 100%;
    height: auto;
    border-radius: 5%;
}

.title {
    color: white;
    font-style: bold;
    font-size: 16px;
}

.itemtext {
    text-align: left;
}

.quote {
    color: white;
    font-style: italic;
}

/* ----------------------------------------------------------- */
/* Social Media Icons */
/* ----------------------------------------------------------- */

.icon {
    display: inline-flex;
    gap: 10px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 50px;
    border: 2px #ffffff;
    border-radius: 10px;
    background-color:#222224;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    justify-content: center;
}

.icon img {
    transform: scale(0.7);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.icon img:hover {
    opacity: 0.6;
    transform: scale(.9);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

/* ----------------------------------------------------------- */
/* General Animations & tab display */
/* ----------------------------------------------------------- */

.fade-in {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.run-fade-in {
    opacity: 1;
    transform: translateY(0);
}

.no-transition {
    transition: none !important;
}


.tab-content {
    display: none;
    padding: 20px;
}

.tab-content.active {
    display: block;
}

/* ----------------------------------------------------------- */
/* Media queries */
/* ----------------------------------------------------------- */

@media (max-width: 768px) {
    .block {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
    }
}

@media (hover: hover) and (pointer: fine) {
    .item:hover {
        transform: scale(1.2); 
        background-color: #222224;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);       
        transition: transform 0.4s ease-in-out, width 0.4s ease-in-out;
    }
}